h1{
    font: 600 38px/2.5 'Open Sans', sans-serif;
}
h4{
    font: 600px 24px/1.5 'Open Sans', sans-serif;
}
.flex{
    display: flex;
}

/* Header styles */

.navbar{
    background: rgb(242, 242, 242);
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10.9375em;
}

.logo{
font: bold 2.6em 'Open Sans', sans-serif;
color: black;
width: 15%;
}

.nav-item{
    width: 11%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.nav-icon{
    font-size: 2em;
    color: #888C8C;
}

.nav-title{
    font-size: 2em;
    color: #888C8C;
    text-align: center;
}

.nav-subtitle{
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    color: #BDBFBF;
    text-align: center;
}

.nav-btn i{
    font-size: 1.2em;
    padding: 0 10px 0 10px;
    color: #888C8C;
}

.nav-btn span{
    font-size: 1.7em;
    padding-right: 20px;
    color: #888C8C;
}

.featured-articles{
    flex-wrap: wrap;
}
.featured-caption{
    border: 1px solid #000;
    position: absolute;
    left: 50%;
}
.featured-caption span{

}
.featured-article{
    width: 49.9%;
    height: 565px;
    padding-top: 0;
}
.dark{
    background: #f2f2f2;
}
.light{
    background: #fff;
}
.featured-photo{
    border: 1px solid #000;
    font-size: 5em;
}
.featured-name{
    border: 1px solid #000;
    width: 200px;height: 40px;
    font: 600 1.8em 'Open Sans', sans-serif;
    text-transform: capitalize;
}
.top-pad{
    padding-top: 220px;
}