h1{
    font: 600 2.5em/2.5 'Open Sans', sans-serif;
}
h4{
    font: 600px 1.4em/1.5 'Open Sans', sans-serif;
}
.flex{
    display: flex;
}

/* Header styles */

.navbar{
    background: rgb(242, 242, 242);
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10.9375em;
}

.logo{
font: bold 2.6em 'Open Sans', sans-serif;
color: black;
width: 15%;
}

.nav-item{
    width: 11%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.nav-icon{
    font-size: 2em;
    color: #888C8C;
}

.nav-title{
    font-size: 2em;
    color: #888C8C;
    text-align: center;
}

.nav-subtitle{
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    color: #BDBFBF;
    text-align: center;
}

.nav-btn i{
    font-size: 1.2em;
    padding: 0 10px 0 10px;
    color: #888C8C;
}

.nav-btn span{
    font-size: 1.7em;
    padding-right: 20px;
    color: #888C8C;
}

.featured-articles{
    flex-wrap: wrap;
}
.featured-caption{
    position: absolute;
    top: 240px;
    width: 100%;
    text-align: center;
    line-height: 1.2;
}
.featured-caption span{
    width: 400px;
}
.featured-article{
    width: 49.9%;
    height: 565px;
    padding-top: 0;
}
.featured-article h1{
    /*width: 70%;*/
    line-height: 1;
    margin: 50px 0 0 0;
}
.dark{
    background: #f2f2f2;
}
.light{
    background: #fff;
}
.featured-photo{
    border: 1px solid #000;
    font-size: 5em;
}
.featured-name{
    border: 1px solid #000;
    width: 200px;height: 40px;
    font: 600 1.4em 'Open Sans', sans-serif;
    text-transform: capitalize;
}
.top-pad{
    padding: 220px 0 0 0;
}
.down-pad{
    /*padding: 50px 10px 10px 50px;*/
}

/* articles styles */

.articles{
    flex-wrap: wrap;
}
.article{
    width: 29%;
    margin: 0 2.1%;
}
.article-title{
    font: 600 1.6em/1 'Open Sans', sans-serif;
    margin: 12px 0;
}
.article-text{
    font: 400 1.1em/1 'Open Sans', sans-serif;
    margin: 12px 0;
}

/* ads styles */

.ads{
    justify-content: center;
    width: 100%;
    height: 750px;
    padding-top: 40px;
}

.ad1{
    height: 288px;
    width: 398.8px;
    margin-right: 21.6px;
    margin-bottom: 25.2px;
    margin-top: 40px;
    background: #888C8C;
    border-radius: 15px;
}

.ad2{
    height: 100%;
    width: 839.8px;
    padding: 0 21.6px 0 21.6px;
    margin-bottom: 75px;
    background: #BDBFBF;
    border-radius: 15px;
}

.ad1, .ad2{
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.ad1-title{
    font-size: 2.8em !important;
    color: #232426;
    padding-top: 50px;
}

.ad1-btn{
    width: 131px;
    height: 47px;
    background: #F2F2F2;
    border-radius: 3px;
    margin-top: 100px;
}

.ad2-icon{
    font-size: 11em;
    color: #888C8C;
    margin-top: 11%;
}

.ad2-title{
    font-size: 4em;
    color: #07090D;
}

.ad2-btn{
    width: 224px;
    height: 50px;
    background: #07090D;
    border-radius: 3px;
    margin-top: 250px;
}

.ad2-text{
    max-width: 30em;
    margin-top: 10px;
}